@model IEnumerable<DawtNetProject.Models.ArticleVersionViewModel>

@{
    ViewBag.Title = "All available articles";
}
<div class="d-flex flex-row align-items-start justify-content-between">
    <div class="d-flex flex-column mr-3">
        <h2 class="mb-0">Here are all the articles</h2>
        <h5 class="lead">Stand on the shoulders of giants.</h5>
    </div>
    <div class="p-2">
        @Html.ActionLink("Add another article", "Create", new { @area = "" }, new { @class = "btn btn-link border rounded" })
    </div>
</div>
<br />
<div class="container p-0">
    <div class="border p-4 d-flex flex-column align-items-center">
        @Html.Partial("_ArticleList", Model)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/article-list")
}
